<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Juschubut.WebPdfSignServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="Juschubut.Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="access-control-allow-origin,accept,x-api-applicationid,content-type,authorization" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <applicationSettings>
    <Juschubut.WebPdfSignServer.Properties.Settings>
        <setting name="UrlChoiqueFirma" serializeAs="String">
            <value>https://apprw/rrhhjud/Agente/Firma/{documento}/</value>
        </setting>
        <setting name="DMZToken" serializeAs="String">
            <value>-</value>
        </setting>
        <setting name="IsDMZMode" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="DMZUrl" serializeAs="String">
            <value>https://apps1.juschubut.gov.ar/pdfsignserver</value>
        </setting>
    </Juschubut.WebPdfSignServer.Properties.Settings>
  
    <Juschubut.Logger.Properties.Settings>
	  <setting name="LogFileName" serializeAs="String">
		<value>E:\Sistemas\PdfSignServer\Log\PdfSignServerLog.</value>
	  </setting>
	  <setting name="Debug" serializeAs="String">
		<value>True</value>
	  </setting>
    </Juschubut.Logger.Properties.Settings>

  </applicationSettings>

</configuration>
