<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>Firma Digital</title>


    <link type="text/css" rel="stylesheet" href="~/Content/Libraries/bootstrap/css/bootstrap.min.css" />

    <script src="~/Content/Libraries/jquery/jquery-1.12.3.min.js"></script>
    <script src="~/Content/Libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Libraries/noty/jquery.noty.packaged.min.js"></script>
    <script src="~/Content/Libraries/noty/themes/default.js"></script>

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>

 